@model finalmvc.Models.Customerl

@{
    ViewData["Title"] = "Login";
}

<style>
h6{
    color:red;
    font-family:'Times new roman';
}
body{
    background-color:cadetblue;
}
h1{
    text-align:center;
}
</style>

<h1>Customer Login</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-5 align-center">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                <h6>@ViewBag.err</h6>
            }
            <div class="form-group">
                <label asp-for="customerid" class="control-label">Customer id</label>
                <input asp-for="customerid" class="form-control" required placeholder="Enter customer id"/>
                <span asp-validation-for="customerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" type="password" class="form-control" required placeholder="Enter Password"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-warning btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
