@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<h6>
    <br>
    <a asp-controller ="AdminF" asp-action="getallFlights">View Flight details</a>
    <br>
    <br>
    <hr>
    <br>
    <a asp-controller="AdminR" asp-action="getallRoutes">View Route details</a>
</h6>
