@{
    ViewData["Title"] = "Customer";
}
<h1>@ViewData["Title"]</h1>

<h6>
    <br>
    <a asp-controller ="CustomerF" asp-action="Register">New to AirFlight!----Register here</a>
    <br>
    <hr>
    <br>
    <a asp-controller="CustomerF" asp-action="Login">Exsisting Customer---Please login</a>
</h6>